<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.hand.mapper.OmOrderHeadersMapper">
    <resultMap id="BaseResultMap" type="hbi.core.hand.dto.OmOrderHeaders">
        <result column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
        <result column="ORDER_NUMBER" property="orderNumber" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ORDER_DATE" property="orderDate" jdbcType="DATE" />
        <result column="ORDER_STATUS" property="orderStatus" jdbcType="VARCHAR" />
        <result column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
    </resultMap>

    <select id="selectRow" resultMap="BaseResultMap">
        select hooh.ORDER_NUMBER,hoc.COMPANY_NAME,hac.CUSTOMER_NAME,hooh.ORDER_DATE,hooh.ORDER_STATUS,
        hiii.ITEM_CODE,hiii.ITEM_DESCRIPTION,hool.ORDERD_QUANTITY,hool.UNIT_SELLING_PRICE

        FROM hap_om_order_headers hooh LEFT JOIN hap_om_order_lines hool ON hooh.HEADER_ID=hool.HEADER_ID,hap_inv_inventory_items hiii,hap_ar_customers hac,hap_org_companys hoc

        <where>hooh.COMPANY_ID = hoc.COMPANY_ID and hooh.CUSTOMER_ID=hac.CUSTOMER_ID
        AND hool.INVENTORY_ITEM_ID = hiii.INVENTORY_ITEM_ID
        </where>
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        select * from hap_om_order_lines
    </select>
</mapper>